.row
  .somespace
  .span3.offset9
    %a.usdol{:href=>"http://www.dol.gov/summerjobs/Employers.htm"} Visit the Official US DOL Website
  .vspace
  .clear
  .span5.offset7
    %p.green=@description
.somespace
.row
  .span6
    %h3 For Me
    -if @user
      .user
        .avatar
          %img{:src => "http://graph.facebook.com/#{@user["id"]}/picture"}
        .desc
          %p.name=@user["name"]
          %p.location=@user["location"]["name"]
          %p.job=@user['job']
    .clear
    -if @friends and @friends.count > 0
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %td{:colspan => 3}
              %h3 For My Friends < 30
        -@friends.each do |friend|
          - job = friend['job'] || 'awesome job'
          - url = "javascript:search_with_city('#{job}', '#{friend['current_location'] ? friend['current_location']['city'] :''}', '#{friend['current_location'] ? friend['current_location']['state'] : ''}');"
          %tr
            %td
              %a.user{:href => url}
                .avatar
                  %img{:src => friend["pic_square"]}
            %td
              .desc
              %a.user{:href => url}
                %p.name=friend['name']
                %p.location=friend["location"]
                %p.job=friend['job']
            %td
              %button.btn{:class=> "Recommend", :uid=>friend['uid']}
                %i.icon-star-empty
    -if @older_friends and @older_friends.count > 0
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %td{:colspan => 3}
              %h3 For My Friends > 30
        -@older_friends.each do |friend|
          - job = friend['job'] || 'awesome job'
          - url = "javascript:search_with_city('#{job}', '#{friend['current_location'] ? friend['current_location']['city'] :''}', '#{friend['current_location'] ? friend['current_location']['state'] : ''}');"
          %tr
            %td
              %a.user{:href => url}
                .avatar
                  %img{:src => friend["pic_square"]}
            %td
              .desc
              %a.user{:href => url}
                %p.name=friend['name']
                %p.location=friend["location"]
                %p.job=friend['job']
            %td
              %button.btn{:class=> "Recommend", :uid=>friend['uid']}
                %i.icon-star-empty
  .span6.jobs
    %form.form-horizontal{:action => "/search", :target => "jobs"}
      %h3 Job Search
      %fieldset
        %label.control-label Keyword
        .controls
          %input.input-xlarge{:id=> "q_field", :name =>"q", :type => "text", :value => params['q']}
      %fieldset
        %label.control-label City
        .controls
          %input.input-xlarge{:id=> "city_field", :name=>"city", :type => "text", :value => params['city']}
      %fieldset
        %label.control-label State
        .controls
          %input.input-xlarge{:id => "state_field", :name=>"state", :type => "text", :value => params['state']}
      %button.btn{:type=>"submit"}Find Summer Jobs
    %iframe#jobs_frame{:src => @default_search, :name => "jobs"}


.row.employers
  .span8.push4
    %h3 For Employers
    %ul
      %li
        %a{:href => "http://webapps.dol.gov/DOLEvents/Event/Register/17/Summer-Jobs-Commitment-Registration", :target => "_new"} Register
      %li
        %a{:href => "http://www.dol.gov/summerjobs/addingopportunities.htm"} Add Jobs
      %li
        %a{:href => "http://www.dol.gov/summerjobs/employerfaqs.htm"} Answers
      %li
        %a{:href => "http://www.dol.gov/summerjobs/partners.htm"} Who Else ?
      %li
        %a{:href => "http://www.dol.gov/summerjobs/pdf/Toolkit.pdf"} Learn...

  :javascript
    FB.init({
        appId      : '316154225118670', // App ID
        channelUrl : '//friends.cloudfoundry.com/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
     }(document));
      

    $(".Recommend").on("click",function(event){
      var user_id = $(this).attr("uid");
      FB.ui({method: 'apprequests',
      message: 'Find the right job here',
      to: user_id, 
      }, requestCallback);
    });

    function requestCallback(response) {
        // Handle callback here
    }

    function search() {
      $("#search_form").submit();
    }

    function search_with_city(term, city, state) {
      $("#q_field").val(term);
      $("#city_field").val(city);
      $("#state_field").val(state);

      $("#search_form").submit();
    }





