.row
  .hero-unit
    %h1 Trabaja Friends
    %p
      %br
      %a.btn.btn-primary.btn-large{:href=>"http://www.dol.gov/summerjobs/Employers.htm"} Learn More
      %a.btn.btn-primary.btn-large#invite Invite Friends
    %p
      %br
      %span=@description
.row
  .span6
    -if @user
      .user
        .avatar
          %img{:src => "http://graph.facebook.com/#{@user["id"]}/picture"}
        .desc
          %p.name=@user["name"]
          %p.location=@user["location"]["name"]
          %p.job=@user['job']
    .clear
    -if @friends and @friends.count > 0
      %h3 For My Friends < 30
      .mycs
        %table.table.table-striped.table-bordered
          -@friends.each do |friend|
            - job = friend['job'] || 'awesome job'
            - url = "javascript:search_with_city('#{job}', '#{friend['current_location'] ? friend['current_location']['city'] :''}', '#{friend['current_location'] ? friend['current_location']['state'] : ''}');"
            %tr
              %td
                %a.user{:href => url}
                  .avatar
                    %img{:src => friend["pic_square"]}
              %td
                .desc
                %a.user{:href => url}
                  %p.name=friend['name']
                  %p.location=friend["location"]
                  %p.job=friend['job']
              %td
                %button.btn{:alt => "Recommend", :class=> "Recommend", :uid=>friend['uid']}
                  %i.icon-star-empty


    -if @older_friends and @older_friends.count > 0
      %h3 For My Friends > 30
      .mycs
        %table.table.table-striped.table-bordered
          -@older_friends.each do |friend|
            - job = friend['job'] || 'awesome job'
            - url = "javascript:search_with_city('#{job}', '#{friend['current_location'] ? friend['current_location']['city'] :''}', '#{friend['current_location'] ? friend['current_location']['state'] : ''}');"
            %tr
              %td
                %a.user{:href => url}
                  .avatar
                    %img{:src => friend["pic_square"]}
              %td
                .desc
                %a.user{:href => url}
                  %p.name=friend['name']
                  %p.location=friend["location"]
                  %p.job=friend['job']
              %td
                %button.btn{:alt => "Recommend", :class=> "Recommend", :uid=>friend['uid']}
                  %i.icon-star-empty
  .span6.jobs
    %form.well.form-horizontal{:action => "/search", :target => "jobs"}
      %h3 Job Search
      %fieldset
        %label.control-label Keyword
        .controls
          %input.input-xlarge{:id=> "q_field", :name =>"q", :type => "text", :value => params['q']}
      %fieldset
        %label.control-label City
        .controls
          %input.input-xlarge{:id=> "city_field", :name=>"city", :type => "text", :value => params['city']}
      %fieldset
        %label.control-label State
        .controls
          %input.input-xlarge{:id => "state_field", :name=>"state", :type => "text", :value => params['state']}
      %fieldset
        %button.btn{:type=>"submit"}Find Summer Jobs
    %iframe#jobs_frame{:src => @default_search, :name => "jobs"}
  :javascript
    var app_id = '#{app_id}';
    var candidate = null;
    var prevButton = null;
    var site_image = '#{@image}';
    var prevButton = null;  
   
    function search() {
      $("#search_form").submit();
    }

    function search_with_city(term, city, state) {
      $("#q_field").val(term);
      $("#city_field").val(city);
      $("#state_field").val(state);

      $("#search_form").submit();
    }
%script{:src=>"/js/my.js"}





